{% extends 'store/base.html' %}

{% block title %}
  Home - Lumi & So
{% endblock %}

{% block hero %}
  <img src="https://www.kottonfruit.com/cdn/shop/files/banner_main_2a8a316a-43c3-4a66-87c6-a00251a71771.jpg?v=1755848249&width=3840" class="img-fluid w-100" alt="Hero Image" />
{% endblock %}

{% block content %}
  <h2 class="mb-4">All Products</h2>
  <div class="row">
    {% for product in products %}
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}" />
          <div class="card-body">
            {% if product.is_on_sale %}
              <span class="badge bg-danger">{{ product.discount_percentage }}% OFF</span>
            {% endif %}
            <h5 class="card-title">{{ product.title }}</h5>
            {% if product.is_on_sale %}
              <span class="text-danger fw-bold">Rs. {{ product.sale_price }}</span>
              <del class="text-muted ms-2">Rs. {{ product.price }}</del>
            {% else %}
              <span class="fw-bold">Rs. {{ product.price }}</span>
            {% endif %}
            <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-dark w-100">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
